APP_BASE_URL="http://localhost:3000"

# ENDPOINTS TO FETCH QUIZ DATA
TRIVIA_QUESTIONS_API_ENDPOINT="https://the-trivia-api.com/v2/questions"

PG_DATABASE_HOST=postgres-bethasiva7780-9947.g.aivencloud.com
PG_DATABASE_NAME=defaultdb
PG_DATABASE_USERNAME=avnadmin
PG_DATABASE_PASSWORD=AVNS_zXjHl9FRQg6pbtLlTra
PG_DATABASE_PORT=20105
